// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$offwhite: #FFF5F3;
$offpink: #f7f2f1;
$taup: #BD827D;
$redwine: #FF6163;
$beige: #F3EED9;
$bluenight: #424A5E;
$grey: #808080;

$yellobottle: #f5d800;
$pinkbottle: #fbb089;
$redbottle: #c1282d;
