// Specific CSS for your home-page
html, body {
    margin-bottom: 20px;
    background: white

}

.screen {
  height: 85vh;
}

.background-img {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // opacity: 0.9;
  // padding: 300px 0 50px 0;
}

.block {
  padding: 42px;
}

.titre-landing {
  font-size: 128px;
  color: $redbottle;
  letter-spacing: -9px;
  font-weight: 700;
  text-shadow: .5px .5px 0px rgb(0, 0, 0);
}


.sous-titre-landing {
  font-size: 48px;
  color: white;
  font-weight: 500;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-shadow: .5px .5px 0px rgb(0, 0, 0);
  margin: 5px;

}

.block-button {
  display: flex;
  padding-top: 16px;
  margin: 15px;

    > div {
      margin: 6px;
    }

    .block-button-primary {
      flex-grow: 0.37;
      background-color: $redwine;
      border-radius: 16px;
      text-align: center;
      padding: 8px;

        a {
          font-family: poppins, sans-serif;
          text-decoration: none;
          color: white;
          font-weight: 200;
        }
    }

    .block-button-empty {
      flex-grow: 1;
    }
}


// Format mobile

@media only screen and (max-width: 600px) {
  .background-img {
    // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/3171201/pexels-photo-3171201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    // background-image: url("https://images.unsplash.com/photo-1464638681273-0962e9b53566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    // background-image: url("https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    // background-image: url("https://images.unsplash.com/photo-1503427948460-3ca3eb79c566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    // background-image: url("https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    // background-image: url("https://images.unsplash.com/photo-1541971897566-308cf7ad0934?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    // background-image: url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    // background-image: url("https://images.unsplash.com/photo-1560089168-4169937e37d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80");
    background-image: url("https://images.unsplash.com/photo-1554230561-31bdc707b537?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    // background-image: url("https://images.unsplash.com/photo-1548025396-689d647d00c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHdpbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60");
    // background-image: url("https://images.unsplash.com/photo-1536583308396-5e8dd8dff017?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1536583308396-5e8dd8dff017?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");

    background-repeat: no-repeat;
    // background-size: auto;
    background-position: center;
    background-color: $redwine;
    // background-size: 1300px;
  }

  .block {
    display: flex;
    flex-direction: column;
    padding-top: 325px;
    padding-left: 20px;
    z-index: 100;
  }

  .slogan {
    text-align: left;
    padding-left: 9px;
  }

  .titre-landing {
    font-size: 80px;
    color: $redwine;
    letter-spacing: -6px;
    font-weight: 700;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-shadow: .5px .5px 0px rgb(0, 0, 0);
    // animation: slideInFromLeft 2s;
    // animation-timing-function: cubic-bezier(.42,.97,.52,0);
  }


  .sous-titre-landing {
    font-size: 32px;
    font-weight: 500;
    color: $beige;
    letter-spacing: -2px;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    text-shadow: .5px .5px 0px rgb(0, 0, 0);
  }

  .block-button {
    display: flex;
    padding-top: 16px;

    > div {
      margin: 6px;
    }

    .block-button-primary {
      flex-grow: 1;
      background-color: $redwine;
      border-radius: 16px;
      text-align: center;
      padding: 8px;

      a {
        font-family: poppins, sans-serif;
        text-decoration: none;
        color: white;
        font-weight: 200;
      }
    }

    .block-button-empty {
      flex-grow: 0;
    }
  }



// cards Stimulus Scroll Reveal

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
  transition-property: opacity, transform;
}

.reveal.in {
  opacity: 1;
  transform: none;

  img {
    border-radius: 16px;
  }
}

// fin cards Stimulus Scroll Reveal

    // debut code scroll 4you

  .container-snapscrollcards {
    scroll-behavior: smooth;
    // position: sticky;
}

.snapscrollcards {
  padding: 1.5rem;
  margin: 1.5rem;
    box-sizing: border-box;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 40px 20px;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.itemscard:nth-child(1) {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  // border: 1px solid #e3e3e3;
  // border-radius: 16px;
    // width: 50vh;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.itemscard:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  // border: 1px solid #e3e3e3;
  // border-radius: 16px;
    // width: 50vh;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.itemscard:nth-child(3) {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  // border: 1px solid #e3e3e3;
  // border-radius: 16px;
    // width: 50vh;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.itemscard:nth-child(4) {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  // border: 1px solid #e3e3e3;
  // border-radius: 16px;
    // width: 50vh;
    // height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contentcd {
    width: 80%;

}

.contentcd>p {
    font-size: 1rem;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
}
.contentcd>img {
  font-size: 1rem;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
}
// fin code scroll 4you

// debut testimonials



/* Reseting */
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Poppins', sans-serif;
// }

// body {
//     // background: linear-gradient(to bottom, $redbottle, $redwine);
//     // animation: background-color 20s;
//     // min-height: 100vh;
// }


.container {
  .container-testimonial{
    margin-top: 80px;
    background-color: white;
  }
}

.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card-testimonial {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
    // background-color: white; = pose prob avec l'animation
}

.card-testimonial .face {
    position: absolute;
    color: $redbottle;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card-testimonial .face.front-face,
.card-testimonial .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-testimonial .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card-testimonial .face.front-face .name {
    letter-spacing: 2px;
}

.card-testimonial .face.front-face .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card-testimonial:hover .face.front-face {
    transform: rotateY(180deg);
}

.card-testimonial .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card-testimonial .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card-testimonial .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card-testimonial:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

// fin testimonials



}








  /* animation first screen*/

@keyframes slideInFromLeft {
	0% {
		transform: translateY(-700px);
	}

	100% {
		transform: translateY(0px);
	}
}


  /* second screen */

  .container-second {
    margin: 0;
  }

  .screen-second {
    height: 50vh;
    background: $redwine;
  }

  .titre-second-screen {
    color: $white;
    text-shadow: none;
  }
