// Specific CSS for your home-page
html, body {
    margin-bottom: 20px;
    background: white
}

.screen {
  height: 100vh;
}

.background-img {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  // background-image: url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // opacity: 0.9;
  // padding: 300px 0 50px 0;
}

.block {
  padding: 42px;


}

.titre-landing {
  font-size: 128px;
  color: $redwine;
  letter-spacing: -9px;
  font-weight: 700;
  text-shadow: .5px .5px 0px rgb(0, 0, 0);
}


.sous-titre-landing {
  font-size: 48px;
  color: $beige;
  font-weight: 500;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-shadow: .5px .5px 0px rgb(0, 0, 0);

}

.block-button {
  display: flex;
  padding-top: 16px;

    > div {
      margin: 6px;
    }

    .block-button-primary {
      flex-grow: 0.37;
      background-color: $redwine;
      border-radius: 16px;
      text-align: center;
      padding: 8px;

        a {
          font-family: poppins, sans-serif;
          text-decoration: none;
          color: white;
          font-weight: 200;
        }
    }

    .block-button-empty {
      flex-grow: 1;
    }
}


// Format mobile

@media only screen and (max-width: 600px) {
  .background-img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/3171201/pexels-photo-3171201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: $redwine;

  }

  .block {
    display: flex;
    flex-direction: column;
    padding-top: 290px;
    padding-left: 20px;
    z-index: 100;
  }

  .slogan {
    text-align: left;
    padding-left: 9px;
  }

  .titre-landing {
    font-size: 80px;
    color: $redwine;
    letter-spacing: -6px;
    font-weight: 700;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-shadow: .5px .5px 0px rgb(0, 0, 0);
    // animation: slideInFromLeft 2s;
    // animation-timing-function: cubic-bezier(.42,.97,.52,0);
  }


  .sous-titre-landing {
    font-size: 32px;
    font-weight: 500;
    color: $beige;
    letter-spacing: -2px;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    text-shadow: .5px .5px 0px rgb(0, 0, 0);
  }

  .block-button {
    display: flex;
    padding-top: 16px;

    > div {
      margin: 6px;
    }

    .block-button-primary {
      flex-grow: 1;
      background-color: $redwine;
      border-radius: 16px;
      text-align: center;
      padding: 8px;

      a {
        font-family: poppins, sans-serif;
        text-decoration: none;
        color: white;
        font-weight: 200;
      }
    }

    .block-button-empty {
      flex-grow: 0;
    }
  }

  .carousel-card-container {
    padding: 2rem;
    margin: 2rem;
    background: none;
    // background: $white;
    border-radius: 16px;

    img{
      border-radius: 16px;
    }
  }

  .text-carousel {
    // color: $grey;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
  }

}

// début du code carousel

// fin du code carousel

  /* animation first screen*/

@keyframes slideInFromLeft {
	0% {
		transform: translateY(-700px);
	}

	100% {
		transform: translateY(0px);
	}
}


  /* second screen */

  .container-second {
    margin: 0;
  }

  .screen-second {
    height: 50vh;
    background: $redwine;
  }

  .titre-second-screen {
    color: $white;
    text-shadow: none;
  }





// Css pr remplacer le carousel

@media only screen and (max-width: 600px) {
  .main-chiffres {
  top: 100px;
  grid-template-columns: 1fr;
  }

}
