<div class="footer">
    <div class="home-nav">
      <a href=""><i class="fa-solid fa-house"></i>accueil</a>
    </div>
    <div class="explore">
      <a href=""><i class="fa-solid fa-magnifying-glass"></i>découvrir</a>
    </div>
    <div class="user">
      <a href=""><i class="fa-solid fa-user"></i>user</a>
    </div>
</div>
