
<div class="space-footer">

  <div class="footer">
    <div class="explore-nav">
      <%= link_to events_path do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <p>Découvrir</p>
      <% end %>
    </div>
    <div class="accueil-nav">
      <%= link_to new_host_event_path do %>
        <i class="fa-solid fa-plus"></i>
        <p>WineUp</p>
      <% end %>
    </div>
    <div class="user-nav">
      <%= link_to dashboard_path do %>
        <i class="fa-solid fa-user"></i>
        <p>Profil</p>
      <% end %>
    </div>

</div>

