<div class="search-bar" data-controller="search-events" style="margin-bottom: 5rem">
  <%= form_with url: events_path, method: :get, class: "d-flex search-bar-index", data: { search_events_target: "form" } do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Chercher un évènement",
      data: { action: "keyup->search-events#update", search_events_target: "input" }
    %>
    <%= submit_tag "Chercher", class: "btn btn-primary" %>

<% end %>

  <%= render 'search', events: @events %>
</div>
