<div class="components">
  <%# BTN %>
  <%# boutons rouges %>

<%# Carte - Profil de l'utilisateur avec son avatar tout en haut du dashboard %>
<%# _card-dashboard-1.scss %>

  <div class="button">
    <a href="#" class="bouton-rouge">Prochains évènements</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Connexion</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Inscription</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Envoyer</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Participer</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Modifier</a>
  </div>

  <br>

  <div class="button">
    <a href="#" class="bouton-rouge">Enregistrer</a>
  </div>

  <br>
  <%# boutons blancs %>

  <div class="button">
    <a href="#" class="bouton-blanc">Connexion</a>
  </div>

  <%# Carte - Profil de l'utilisateur avec son avatar tout en haut du dashboard %>
  <%# _card-dashboard-1.scss %>
  <div class="card-dashboard-1">
    <%= cl_image_tag current_user.photo.key %>
    <div class="card-dashboard-1-infos">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <h3><%= current_user.level %></h3>
    </div>
  </div>


    <div class="container">
      <div class="cards-index">
      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
            </div>
        <div>
        <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>
        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>
        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>

        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      </div>
    </div>



    <div >
      <div class="cards-index">
      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
        </div>
        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
      </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>
        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
      </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>
        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      <div class="container-card-index">
        <div class="card-index" style="background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
          </div>

        <div>
          <p class="text-date-index">10 septembre à 20h</p>
          <p class="text-name-event-index">Descente de la Loire en pinard</p>
          <p class="text-town-index">Saint Herblain</p>
          <p class="text-price-index">8 à 12 € la bouteille</p>
        </div>
        </div>

      </div>
    </div>

</div>
</div>







---------------------------------------------------


<section>
  <h1>Reveal element</h1>
</section>
<section>
  <div class="container reveal">
    <h2>Your Title</h2>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container reveal">
    <h2>Your Title</h2>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card2">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container reveal">
    <h2>Your Title</h2>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container reveal">
    <h2>Your Title</h2>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
    <div class="cards">
      <div class="text-card">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor neque ipsa incidunt similique eos nisi consequuntur ullam earum quaerat laudantium sapiente laborum itaque nostrum consectetur voluptatibus dolores, expedita adipisci pariatur.</p>
    </div>
  </div>
</div>
</section>





<script type="text/javascript">
window.addEventListener('scroll', reveal);

function reveal(){
  var reveals = document.querySelectorAll('.reveal');

for(var i = 0; i < reveals.length; i++){

  var windowheight = window.innerHeight;
  var revealtop = reveals[i].getBoundingClientRect().top;
  // var revealpoint = 150;
  var revealpoint = 150;


  if(revealtop < windowheight - revealpoint){
    reveals[i].classList.add('active');
  }
  else{
    reveals[i].classList.remove('active');
  }
}
}


</script>
