<div class="container-landing">
  <div class="screen background-img">
    <%# <div class="block"> %>
    <div class="flex-wrapping">
      <div class="wrapping-home">

        <div class="slogan">
          <h1 class="titre-landing">WineMeUp</h1>
          <h2 class="sous-titre-landing">Venez partager un moment de convivialité autour du vin</h2>
        </div>

          <div class="button-landing">
              <%= link_to "Commencez maintenant", events_path, class: "btn-landing"%>
          </div>
      </div>
    </div>

    <%# </div> %>
  </div>
</div>


<%# <div class="container" data-controller="scroll-animation" data-action="scroll@window->scroll-animation#animText">
  <div class="container container-snapscroll" >
    <br>
      <div class="snapscrollcards">
        <div class="itemscard" data-scroll-animation-target="itemscard" id="home">
            <div class="contentcd">
                <p>HOME</p>
                <p style="font-weight: 600" >Que vous soyez novice ou expert, une dégustation reste une avenure personnelle qui fait appelle à votre propre expérience</p>
            </div>
      </div>
    </div>
    <br>
  </div>
  <br>
</div> %>


<%# début du stimulus reveal  %>

<div class="container">
  <div data-controller="scroll-reveal">
    <div data-scroll-reveal-target="item" class="reveal" data-delay="250ms" style="transition-delay: 250ms;">
      <p class="titre-com">Que vous soyez novice ou expert, une dégustation reste une avenure personnelle qui fait appelle à votre propre expérience</p>
    </div>
  </div>
</div>


<%# fin du stimulus reveal  %>


<%# début du carouser   %>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1627260101174-35c557ab5c8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" alt="...">
      </div>
      <%# <div>
        <p class="test-carousel">Trouvez des « WineUp » organisés à proximité de chez vous</p>
      </div> %>
      <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1596438214057-5ff7c7fa76b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHdpbmUlMjBnbGFzc2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
      </div>
      <%# <div>
        <p class="test-carousel">Améliorez vos connaissances en œnologie</p>
      </div> %>
      <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" alt="...">
      </div>
      <%# <div>
        <p class="test-carousel">Rencontrez des amateurs de vin près de chez-vous</p></div>
      </div> %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<%# fin du carousel   %>


<%# scroll recherché de 4you %>

<div class="container" data-controller="scroll-animation" data-action="scroll@window->scroll-animation#animText">
  <div class="container container-snapscroll">
    <div class="container-snapscrollcards" >
      <div class="title-text-snapscrollcards">Deviens un WineUper !</div>
          <div class="snapscrollcards">
            <div class="itemscard" data-scroll-animation-target="itemscard" id="home">
                <div class="contentcd">
                    <p>HOME</p>
                    <p><i class="fa-solid fa-check"></i>Consulte les évènements près de chez toi</p>
                </div>
            </div>
            <div class="itemscard" data-scroll-animation-target="itemscard" id="home">
                <div class="contentcd">
                    <p>HOME</p>
                    <p><i class="fa-solid fa-check"></i>Crée ton compte et obtiens ton profil œnologique</p>
                </div>
            </div>
            <div class="itemscard" data-scroll-animation-target="itemscard" id="home">
                <div class="contentcd">
                    <p>HOME</p>
                    <p><i class="fa-solid fa-check"></i>Organise ou inscris-toi à un évènement</p>
                </div>
            </div>
            <div class="itemscard" data-scroll-animation-target="itemscard" id="home">
                <div class="contentcd">
                    <p>HOME</p>
                    <p><i class="fa-solid fa-check"></i>Apporte ta bouteille selon le thème</p>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%# début du stimulus reveal  %>

<%# <div class="container">
  <h2 class="sous-titre-landing titre-second-screen">Les étapes pour rejoindre votre premier évènement</h2>

  <div data-controller="scroll-reveal">
  <p data-scroll-reveal-target="item" class="reveal text-carousel" data-delay="250ms" style="transition-delay: 250ms;"><i class="fa-solid fa-check"></i>Consulte les évènements près de chez toi</p>
  <p data-scroll-reveal-target="item" class="reveal text-carousel"  data-delay="500ms" style="transition-delay: 500ms;"><i class="fa-solid fa-check"></i>Crée ton compte et obtiens ton profil œnologique</p>
  <p data-scroll-reveal-target="item" class="reveal text-carousel"  data-delay="750ms" style="transition-delay: 750ms;"><i class="fa-solid fa-check"></i>Organise ou inscris-toi à un évènement</p>
  <p data-scroll-reveal-target="item" class="reveal text-carousel"  data-delay="1000ms" style="transition-delay: 1000ms;"><i class="fa-solid fa-check"></i>Apporte ta bouteille selon le thème</p>
  </div>
</div> %>
<%# fin du stimulus reveal  %>



  <div class="border-bottom"></div>

<div class="container">
<div class="container container-testimonial">
        <div class="row">
              <div class="title-text-testimonial">Ils ont passé un agréable "WineUp" et ils nous le font savoir !</div>
            <div class="col-lg-4">
                <div class="card-testimonial">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1061&q=80"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Camille Chadebaud
                        </div>
                        <div class="designation">Novice</div>
                        <a href="#" class="redbottle" data-controller="prevent-default" data-action="click->prevent-default#preventDefaultClick"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            J’ai participé hier à mon premier « Wine-Up » autour des « Côtes de Nuit ». Goûter 10 flacons d’exception en n’en payant qu’un seul, cela bat toutes les promotions ! Merci à « Wine-me-Up » d’avoir inventé la foire aux vins perpétuelle !
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-testimonial">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Sélim Menouer
                        </div>
                        <div class="designation">Amateur</div>
                        <a href="#" class="redbottle" data-controller="prevent-default" data-action="click->prevent-default#preventDefaultClick"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            Nouveau à Nantes, grâce à 3 « Wine-Ups », j’ai rencontré plus de 20 camarades de boisson. Et j’ai bien l’impression que 2 d’entre-eux pourraient devenir de vrais amis ! Abracadabra ! Y’a de la magie sociale dans cette app !
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-testimonial">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1502767882403-636aee14f873?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Oumou Traoré
                        </div>
                        <div class="designation">Amateur</div>
                        <a href="#" class="redbottle" data-controller="prevent-default" data-action="click->prevent-default#preventDefaultClick"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                          Grâce à « Wine-me-Up » c’est moi qui choisis le vin au resto, mais surtout, je sais ce que je fais !
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <%# <div class="col-lg-4">
                <div class="card-testimonial">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1614574762522-6ac2fbba2208?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Julien Bardy
                        </div>
                        <div class="designation">Expert</div>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            Trop bien ! En participant à 10 « Wine-Up » et en organisant 2 j’ai fait, en un an, un veritable de Tour de France des vins, et le tout à vélo puisque je n’ai eu qu’à sillonner ma bonne ville de Paris.
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div> %>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="container container-testimonial">
    <div class="block-button">
      <div class="block-button-primary">
      <%= link_to "S'inscrire", new_user_session_path, class: "btn-landing"%>
    </div>
  </div>
</div>




