.button {
  margin-top: 20px;

  a:hover {
    color:white;
    background-color: #f54649;
    font-weight: bold;
  }
}

.bouton-rouge {
  color: #F3EED9;
  background: #FF6163;
  padding: 16px 140px;
  border-radius: 16px;
  text-decoration: none;
  position: absolute;
  width: 343px;
  height: 47px;
  left: 9px;
  top: 541px;
}
