.button {
  .bouton-rouge {
    border: solid 1px $redwine;
    color: white;
    background: #FF6163;
    padding: 6px;
    border-radius: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;

    a {
      font-size: 14px;
    }
  }

  .bouton-rouge:hover {
    color: $redwine;
    background-color: white;
    border: solid 1px $redwine
  }


  .bouton-blanc {
    color: #FF6163;
    background: white;
    border: 1px solid #999999;
    padding: 16px 14px;
    border-radius: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;
  }






}

.btn-card-show {
  background-color: $redwine;
  border-radius: 16px;
  text-align: center;
  padding: 8px;

  a {
      font-family: poppins, sans-serif;
      text-decoration: none;
      color: white;
      font-weight: 200;
  }
}


.button-index-create {
  background: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 18px;
  margin-bottom: 6px;
  text-decoration: none;
  color: $redwine;;
  font-size: 12px;
  border: 1px solid $redwine;

  &:hover {
    background: $redwine;
    color: white;
  }
}
