.button {
  .bouton-rouge {
    color: #F3EED9;
    background: #FF6163;
    padding: 16px 14px;
    border-radius: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .bouton-rouge:hover {
    color: white;
    background-color: #f54649;
    font-weight: bold;
  }


  .bouton-blanc {
    color: #FF6163;
    background: white;
    border: 1px solid #999999;
    padding: 16px 14px;
    border-radius: 16px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;
  }






}
