.body-show {
  background: white;
}

.photo-card {
  display: flex;
  flex-direction: column;

  .image-show {
    height: 300px;
    flex-grow: 1;
    border-radius: 16px;
    position: relative;
  }

  .avatar-show {
    position: relative;
    display: flex;


    ul {
      margin-bottom: 0px;
      padding-top: 6px;
      padding-bottom: 6px;
      font-family: poppins;
      font-size: 12px;
      font-weight: 300;
      display: flex;
      margin-top: -66px;
      margin-left: 56px;
      background: white;
      border-radius: 16px;
      padding-right: 34px;

      .pink {
        color: $redwine;
        margin-left: 4px;
        font-weight: 500;
      }
    }
  }

  .image-avatar-show {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 5px white;
    position: absolute;
    margin-top: -76px;
    margin-left: 26px;
  }
}
.card-beg {

  .photo-card-text {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    padding: 16px;
    padding-left: 34px;
    padding-bottom: 16px;

    .header-show {
      .pink {
        color: $redwine;
        font-weight: 500;
      }

      .date-show{
        margin-bottom: 6px;
        font-size: 14px;
      }

      .bold {
        color: $bluenight;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .header-show {
      display: flex;
      justify-content: space-between;
      margin-right: 24px;

      .left-header-show {
        display: flex;
        flex-direction: column;

        .left-in-left {
          display: flex;
          margin-top: -3px;

          .icon-participants {
            color: $redwine;

          }

          p {
            margin: 3px;
            margin-right: 1px;
            font-size: 12px;
            font-weight: 500;
            color: $redwine;
            font-size: 14px;
          }
        }

        .right-in-left {
          display: flex;

          > div {
            margin: 6px;
          }

          .icon-price {
            color: $bluenight;
          }

          p {
            font-size: 14px;
            font-weight: 500;
            color: $bluenight;
          }
        }
      }

      .right {
        flex-grow: 3;
      }
    }
  }
}

.description {
  padding: 32px;
  padding-left: 34px;
  padding-bottom: 16px;


  .bold {
    color: $bluenight;
    font-weight: 500;
    font-size: 14px;
  }

  .event-name {
    font-weight: 500;
    font-size: 13px;
    color: $grey;
  }

  p {
    font-size: 13px;
    color: $grey;
  }
}

.titre-participant-bold {
  color: $bluenight;
  font-weight: 500;
  padding: 32px;
  padding-left: 34px;
  padding-bottom: 0;
  font-size: 14px;
}

.card-index-list {
  padding-top: 4px;

  .single-card {
    position: relative;
    padding: 9px;
    padding-left: 34px;

    > div {
      margin-bottom: 8px;
    }

    .image-avatar-show {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 5px #FFF5F3;
      margin-top: -11px;
    }

    p {
      margin-left: 58px;
      font-style: italic;
      color: $grey
    }

    span {
      font-weight: 700;
    }

    .card-index-list-text {
      display: flex;

      ul {
        margin-bottom: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-family: poppins;
        font-size: 12px;
        font-weight: 300;
        background: #FFF5F3;
        border-radius: 16px;
        padding-right: 25px;
        display: flex;
        margin-left: 24px;
      }

      .pink {
        color: $redwine;
        margin-left: 4px;
        font-weight: 500;
      }
    }
  }

}

.map-card {
  display: flex;
  padding-top: 16px;

  .image-show {
    height: 300px;
    flex-grow: 1;
    border-radius: 16px
  }
}

.btn-card-show {
  margin-top: 16px;
  margin-bottom: 16px;
}

.chat {
  margin-top: 16px;
  display: flex;

  .image-show {
    height: 300px;
    flex-grow: 1;
    border-radius: 16px
  }
}

.participer-show {
  display: flex;
  flex-direction: column;

  .interesse-show {
    display: flex;
    gap: 6px;
    justify-content: center;
    background: $redwine;
    color: white;
    font-weight: 500;
    border-radius: 16px;
    margin: 0px 42px 0px 42px;
    margin-bottom: 24px;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    i {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .interesse-show2 {
    .btn {
      border-radius: 16px;
      color: $redwine;
      background: white;
      font-size: 12px;
      border: solid 1px $redwine;
      border-radius: 16px !important;
      margin-bottom: 16px;

      &:hover {
        background: $redwine;
        color: white;
        font-weight: 500;
      }
    }

    p {
      text-decoration: none;
      color: $grey;
      border-radius: 16px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 6px;
      padding-bottom: 8px;
      font-size: 12px;
      text-align: center;
      border: solid 1px $grey;
      font-weight: 300;
    }

    p:hover {
      background: $grey;
      color: white;
      font-weight: 500;
    }

    .btn-interesse-show {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.form-login {
  input {
    color: #757575;
    background-color: #F4F4F4;
    border: solid 1.5px;
    border-radius: 12px;
    border-color: #D9D9D9;
    font-size: 12px;
  }

  :focus {
    border-color: #FF6163;
    box-shadow: 0px 0px 0px 4px rgba(255, 97, 100, .65);
  }
}

.dont-come {
  color: $grey;
  border-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 8px;
  font-size: 12px;
  text-align: center;
  border: solid 1px $grey;
  font-weight: 300;
  margin: 0px 42px 0px 42px;

  a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: white;
    }
  }

  &:hover {
    background: $grey;
    color: white;
    font-weight: 500;
    }

}

.js-fun {
  margin-bottom: 42px;
}
