
/* TODO: Build layout for campuses page */
// CSS des cards reprise du wagon




// responsive code CSS card-index


// /*Media Queries* qui fonctionne/

// /*Smallest device*/
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards-index {
//     grid-template-columns: 1fr;
//   }
// }

// /*Small devices (landscape phones, 576px and up)*/
// @media (min-width: 576px) {
//   .cards-index {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// /*Medium devices (tablets, 768px and up)*/
// @media (min-width: 1200px) {
//   .cards-index {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
.titre-index {
  padding: 32px;
  color: $bluenight;
}

.cards-index2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin-top: 8px;

  > div {
    margin: 6px;
  }
}

.unique-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card-image-index {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;

    img {
      border-radius: 16px;
      justify-self: center;
      width: 363px;
      height: 313px;
    }

    .card-text-index {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .card-text-index {
    padding-top: 10px;
    margin-bottom: 36px;

    .text-box-show {
      display: flex;
      justify-content: space-between;
      margin-bottom: -6px;

      .text-date-index {
        font-size: 14px;
        margin-right: 5px;
        color: $bluenight
      }

      .text-category-index {
        font-size: 14px;
        margin-left: 5px;
        color: $bluenight;
        font-weight: 600;
      }
    }


    .text-name-event-index {
      color: $redwine;
      font-weight: 600;
      padding-bottom: 6px;
      margin-left: 5px;
      font-size: 18px;
    }

    .text-city-index {
      font-family: poppins;
      font-size: 14px;
      font-weight: 500;
      margin-left: 0px;
    }

    .text-price-index {
      margin-top: 2px;
      color: $redwine;
      font-weight: 600;
      font-size: 12px;
      margin-left: 5px;
      align-items: baseline; // Lucie
    }
  }

  .icon-date {
    display: flex;
    align-items: center;

    i {
      font-size: 10px;
      color: $redwine;
    }
  }

  .icon-address {
    display: flex;
    align-items: center;
    margin-left: 6px;

    i {
      font-size: 10px;
      color:$grey;
    }
  }

  .icon-price {
    display: flex;
    justify-content: space-between; // Lucie
    align-items: center;
    margin-left: 6px;

    i {
      // font-size: 10px;
      color: $redwine;
    }
  }
}
