.footer {
    background-color: #424A5E;
    padding: 16px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 10px;
    margin: 0 10px;

    a {
      color: #FFF5F3;
      font-size: 12px;
      margin: 0, 16px;
      text-decoration: none;
    }

    i {
      display: block;
      font-size: 25px;
    }
  }
