
  .rounded-nav {
    border-radius: 50rem !important;
    background-color: $light-gray;
  }


  .rounded-nav .nav-link {
    border-radius: 50rem !important;
    color: black;
    transition: 1s;
  }

  .rounded-nav .nav-link.active{
    background-color: white;
    color:$redwine;
  }
