<h1>Créer un événement</h1>
<p>Utilisez le formulaire ci-dessous pour créer un événement</p>

<%= simple_form_for @event, url: host_events_path do |f| %>
  <%= render "host/events/form", f: f %>
<% end %>
